*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
body {
  margin: 0;
}

/* font */

h1,
h2,
p {
  margin: 0;
  font-family: "Merriweather", serif;
}

a,
p {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #700000;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

.description {
  margin: 1rem;
  pad: 1rem;
}
.bullets {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
.bullets > li {
  margin-left: 15px;
}
.projects {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.project-box {
  display: flex;
  flex-direction: row;
}

.proj-title {
  margin-bottom: 10px;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 500px;
  display: flex;
  padding: 5px;
}
.title-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.title {
  position: relative;
  z-index: 1;
  margin: 0;
  color: #333;
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
}

.tech-stack {
  margin-bottom: 10px;
}
